{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": ["error", {
            "singleQuote": true,
            "semi": true,
            "printWidth": 120
        }],
        "no-underscore-dangle": 0,
        "camelcase": 0,
        "no-use-before-define": 0,
        "no-plusplus": 0,
        "no-console": 0,
        "prefer-destructuring": 0,
        "no-undef": 0,
        "no-unused-vars": 0
    }
}