@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	padding-bottom: 50px;
}

p,
label,
h5 {
	font-family: 'Montserrat', sans-serif;
}

label {
	font-size: 15px !important;
	color: black !important;
}

h5 {
	text-align: center;
}

table {
	margin-left: 20px;
}

th {
	min-width: 30px;
}

.container {
	width: 100%;
}

#canvas_panel {
	min-width: 700px;
	max-width: 700px;
}

.panel {
	background-color: #e9e9e9;
	margin: 15px auto;
	border-radius: 2.5px;
	overflow: hidden;
	-webkit-box-shadow: 12px 11px 5px -5px rgb(145, 145, 145, 0.35);
	-moz-box-shadow: 12px 11px 5px -5px rgb(145, 145, 145, 0.35);
	box-shadow: 12px 11px 5px -5px rgb(145, 145, 145, 0.35);
}


.tools {
	display: grid;
	grid-template-areas:
		'main main2'
		'footer footer';
	grid-gap: 10px;
	padding: 10px;
}


.variables_panel {
	grid-area: main;
	margin-left: 50px;
}

.save_stats_panel {
	grid-area: main2;
}

.start_stop_panel {
	grid-area: footer;
}

#check_perception {
	display: block !important;
	visibility: visible !important;
}

input {
	margin-top: 5px;
	max-width: 100px;
}

.btn {
	color: white !important;
}

.confirm_variables {
	margin: 15px 0px 15px 75px;
	float: left;
}

.bot_stats {
	display: inline-block;
}

#alive_table,
#dead_table {
	overflow-anchor: none;
}


.stop {
	background-color: red !important;
	padding-left: 50px !important;
	padding-right: 50px !important;
}

.start {
	padding-left: 50px !important;
	padding-right: 50px !important;
}

.START_STOP {
	margin-left: 300px;
	margin-bottom: 20px;
}